:root {
        --ic-brand-primary-darkened-5: #007F3B;
--ic-brand-primary-darkened-10: #007838;
--ic-brand-primary-darkened-15: #007235;
--ic-brand-primary-lightened-5: #0C8B47;
--ic-brand-primary-lightened-10: #199151;
--ic-brand-primary-lightened-15: #26975A;
--ic-brand-button--primary-bgd-darkened-5: #007F3B;
--ic-brand-button--primary-bgd-darkened-15: #007235;
--ic-brand-button--secondary-bgd-darkened-5: #2B2B2B;
--ic-brand-button--secondary-bgd-darkened-15: #272727;
--ic-brand-font-color-dark-lightened-15: #5A5A5A;
--ic-brand-font-color-dark-lightened-30: #777777;
--ic-link-color-darkened-10: #007838;
--ic-link-color-lightened-10: #199151;
--ic-brand-primary: #00853e;
--ic-brand-font-color-dark: #3d3d3d;
--ic-link-color: #00853e;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2d2d2d;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #4d4d4d;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #4d4d4d;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_90820000000000001/attachments/5563/est-1890-UNT-white.svg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1951047262&Signature=we%2Fic3HToxxB3MXvwJ6fP%2FhfpKc%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads.s3.amazonaws.com/account_90820000000000001/attachments/5563/est-1890-UNT-white.svg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1951047263&Signature=e%2FAxBHv09FZzr0lX%2BtNaCYgVhVw%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads.s3.amazonaws.com/account_90820000000000001/attachments/5563/est-1890-UNT-white.svg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1951047263&Signature=e%2FAxBHv09FZzr0lX%2BtNaCYgVhVw%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_90820000000000001/attachments/5560/est-1890-UNT-green.svg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1951047263&Signature=lGwTmo9CAeJVgBD1vCyPe8BKxAo%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-body-bgd-color: #eeeeee;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #dddddd;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_90820000000000001/attachments/6564/UNT_CANVAS.svg?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1951047263&Signature=FxQr%2BsQ54%2BZzzaqGU1ZzOP0ytb0%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000.0%2C%20public&response-expires=473364000.0');
--ic-brand-Login-Content-bgd-color: #fefefe;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #383838;
--ic-brand-Login-Content-password-text-color: #00853e;
--ic-brand-Login-footer-link-color: #00853e;
--ic-brand-Login-footer-link-color-hover: #00853e;
--ic-brand-Login-instructure-logo: #383838;
      }